        <!--<div class="card" ng-repeat="c in $ctrl.comments">-->
        <div class="card">
          <div class="card-block">
            <p class="card-text" ng-bind="::$ctrl.comment.body"></p>
          </div>
          <div class="card-footer">
            <a class="comment-author" ui-sref="app.profile.main({username: $ctrl.comment.author.username})" >
              <img ng-src="{{::$ctrl.comment.author.image}}" class="comment-author-img" />
            </a>
            &nbsp;
            <a class="comment-author" 
              ui-sref="app.profile.main({username: $ctrl.comment.author.username})" 
              ng-bind="::$ctrl.comment.author.username">
            </a>
            <span class="date-posted" ng-bind="::$ctrl.comment.createdAt | date : 'longDate'"></span>
            <span class="mod-options" 
              ng-show="$ctrl.canModify"
              ng-click="$ctrl.deleteCb()">
              <i class="ion-trash-a"></i>
            </span>
          </div>
        </div>